# Copy this to a safe location (do not commit with real secrets)
# and/or use it as reference for GitHub Repository Secrets.

SNOW_ACCOUNT=https://uekxlau-ea08946.snowflakecomputing.com/console/login
SNOW_USER=GAUAHR
SNOW_PASSWORD=L10nH3art_#Nss0l#1
SNOW_WAREHOUSE=COMPUTE_WH
SNOW_ROLE=ACCOUNTADMIN
SNOW_DB=TESTCATALOG_SF
SNOW_SCHEMA=TESTSCHEMA

ADW_CONNECT_STRING=(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.us-chicago-1.oraclecloud.com))(connect_data=(service_name=gf2ef973e5557f3_atp26ai_tp.adb.oraclecloud.com))(security=(ssl_server_dn_match=yes)))
ADW_USERNAME=admin
ADW_PASSWORD=L10nH3art_#Nss0l#

OCI_USER_OCID=ocid1.user.oc1..aaaaaaaav6zz2u4kzg43xymrjlu5qs6jg3je37eqpxbyemapifwvdaah62ra
OCI_TENANCY_OCID=ocid1.tenancy.oc1..aaaaaaaageoi5ha6zw7nqjp6py3uepuqwfdnzed5favfjevhafeiogzbgv6a
OCI_REGION=us-chicago-1
OCI_OBJECT_NAMESPACE=capnaop2
OCI_BUCKET_NAME=snowflake_git
