# Copy this to a safe location (do not commit with real secrets)
# and/or use it as reference for GitHub Repository Secrets.

SNOW_ACCOUNT=your_account.region
SNOW_USER=your_user
SNOW_PASSWORD=your_password
SNOW_WAREHOUSE=COMPUTE_WH
SNOW_ROLE=ACCOUNTADMIN
SNOW_DB=MYDB
SNOW_SCHEMA=PUBLIC

ADW_CONNECT_STRING=myadb_tp
ADW_USERNAME=ADW_USER
ADW_PASSWORD=ADW_PASSWORD

OCI_USER_OCID=ocid1.user.oc1...
OCI_TENANCY_OCID=ocid1.tenancy.oc1...
OCI_REGION=eu-frankfurt-1
OCI_OBJECT_NAMESPACE=mytenancyspace
OCI_BUCKET_NAME=snowflake-exports
